<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <title>I-Card</title>
</head>

<body>


    <nav class="navbar navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MyTodo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <img src="static/picture.jpg" class="img-fluid" alt="None" style="
                            padding-bottom: 5rem">
    <h2 class="heading" align="center" style="padding-bottom: 45px; padding-top: 45px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: dimgrey;">Advantages</h2>
    <div class="card-group" style="border: None;">
        <div class="card" style="
        padding-bottom: 2rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        ">
            <img src="static/picture_2.jpg" class="card-img-top" alt="Not Found">
            <div class="card-body">
                <h5 class="card-title" align="center">Feeds</h5>
                <p class="card-text" align="center">Keep a record of all your daily activities and be updated..</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card" style="
        padding-bottom: 2rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        ">
            <img src="static/picture_3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" align="center">Be updated</h5>
                <p class="card-text" align='center'>Stay Ahead from others by staying punctual..</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card" style="
        padding-bottom: 2rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        ">
            <img src="static/picture_5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" align="center">Stay Ahead</h5>
                <p class="card-text" align="center">Stay head of time by timely completing your tasks..</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

    <form action='/' method="POST" actionalign="center" style="background-color:bisque;">
        <div class="mb-3" style="background-color:bisque">
            <label for="title" class="form-label" style="padding-top:80px;">Todo Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" style="padding: 50px 50px 50px 50px; border-left-width: 44px; border-right-width: 44px; background-color: azure;">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label" style="padding-top:80px;">Todo Description</label>
            <input type="text" class="form-control" name="desc" id="desc" style=" padding: 50px 50px 50px 50px; border-left-width: 44px; border-right-width: 44px">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 23px;">Submit</button>
    </form>
    <table class="table" align="center" style="text-align: center; margin-top: 60px;">
        <thead>
            <tr>
                <th scope="col">Sno</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td><a href="/delete/{{todo.sno}}" type="button" class="btn btn-primary">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>